body {
background-color:silver;
}

.contenu{
padding-top:5em;
text-align:center;
}

.Catalogue{
padding-top:5em;
}

.Image{
padding-left:6em;
float:left;
padding-top:9em;
}

h2{
color:brown;
}

.Panier{
margin-left:28em;
width:120px;
background-color:red;
color:white;
}

.Détail{
padding-top:9em;
width:320px;
float:center;
padding-left:30em;
}

@media(max-width:640px){
max-width:640px;
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
}
overflow:hidden;
}

div.Commentaire{
float:left;
padding-top:2em;
padding-right:30em;
padding-left:3em;
}

h5{
font-size:20pt;
text-decoration:underline;
}

textarea{
width:40em;
height:20em;
}

.QSN{
padding-top:5em;
}

.Description{
padding-top:3em;
padding-left:3em;
}

.com{
padding-top:5em;
font-size:30pt;
}

h3{
font-size:16pt;
}

h4{
font-size:16pt;
text-decoration:underline;
}

div.Recherche{
float:right;
padding-right:1em;
}

td{
padding-right:1em;
padding-left:1em;
font-size:15pt;
}


a{
color:white;
text-decoration:none;
}

h1{
border:0.1em solid black;
width:13em;
float:center;
font-size:40pt;
}

td:hover{
background-color:grey;
}

header{
border-bottom:1em solid black;
background-color:black;	
color:white;
padding-top:1em;
font-size:15pt;
position:fixed;
width:100%;
top:0;
}